
section {
    padding: 60px 0;
    /* background-color: aqua; */
}

/* Border format */

.bg-lightgray {
    background-color: lightgray;
}

.bg-brown {
    background-color: brown;
}

.bg-aqua {
    background-color: aqua;
}

.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green;
}

.border-black {
    border: 1px solid black;
}

.border-magenta {
    border: 1px solid darkmagenta;
}

.border-blue {
    border: 1px solid blue;
}

.border-lawngreen {
    border: 1px solid lawngreen;
}

.border-yellow {
    border: 1px solid yellow;
}

.bg-none {
    background: none;
}